/************************* PC ************************/
@media screen and (max-width:2560px) and (min-width:1000px){
	.pageWrap{
		width: 100%;
		height: auto;
	}
	.wrap{
		width: 1200px;
		height: auto;
		margin: 0 auto;
	}
}

/************************* mobile pad ************************/
@media screen and (max-width:1000px){
	.pageWrap{
		width: 100%;
		height: auto;
	}
	.wrap{
		width: 7.5rem;
		height: 15rem;
		background: red;
	}
}

/************************* 15:9 ************************/
.screen159{}

/************************* 18:9 ************************/
.screen189{}